<!DOCTYPE html>
<html>
<head>
 <title>ALMIGHTY VACANCIES MANAGEMENT</title>
 <link rel="stylesheet" href="style.css">
</head>
<body>
 <header>
  <div class="logo">
    <a href="index.html">Home</a>
  </div>
  <nav>
   <ul>
    <li><a href="vacancy_add.html">Vacancies</a></li>
    <li><a href="event_add.html">Events</a></li>
    <li><a href="about.html">About</a></li>
   </ul>
  </nav>
 </header>
 
 <main>
  <section class="hero">
   <h2>Welcome {{ user_name }}!</h2>
   <p>If you want a simple life - don't make it harder for others.</p>
   <a href="about.html" class="button">Learn More</a>
  </section>
  
  <section class="features">
   <h2>Features</h2>
   <ul>
    <li><a href="vacancy_add.html" class="button">Create Vacancies</a></li>
    <li><a href="event_add.html" class="button">Make Events</a></li>
   </ul>
  </section>
  

  
  <section class="contact">
   <h2>Contact Us</h2>
  </section>
 </main>
 
 <footer>
  <p>&copy; 2023 ALMIGHTY VACANCIES MANAGEMENT</p>
 </footer>

</body>